<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/stylesheets/materialize.css" rel="stylesheet" media="screen,projection" />
    <link href="/assets/stylesheets/style.css" rel="stylesheet" media="screen,projection" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/materialize/materialize.js"></script>
    <script src="/assets/js/init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="/assets/js/p5BG.js"></script>
    <title>Quarantine Book Club</title>
</head>

<body>
    <main>
        <div id="p5-bg-wrapper">

        </div>
        {{{ body }}}

    </main>



    
</body>

</html>