body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a:hover {
    background-color: blue;
}


* { 
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.nav-wrapper {
    
    margin-left: 1.2rem;
    
}


.page-footer{
    padding: .5rem;
}

#book-card {
    border: 1px black;
}

#p5-bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.orange-text {
  text-align: center;
}

/*

.header {
  color: rgb(245, 244, 239) !important;
  background-color: rgb(148, 213, 220);
}
.card-title {
  text-align: center;
  padding: 10px;
  font-size: 1.7rem !important;
  text-align: center !important;
  
}

.current-card-image {
  float: center;
}

.comment-card {
  width: 500px;
  align-content: center !important;
}

.description {
  color: white;
}

#ubTitle {
  background-color: white;;
}