<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="main">
            <div class="col s8 offset-s6">
                <h2>About Us</h2>
                <p class="flow-text">This group project was built with the combined effort of the four
                    below:</p>
                <div class="collection">
                    <a href="https://github.com/thetntm" class="collection-item">Michael</a>
                    <a href="https://github.com/skrantzz" class="collection-item">Sydney</a>
                    <a href="https://github.com/AmberOutman" class="collection-item">Amber</a>
                    <a href="https://github.com/ajackson89" class="collection-item">Antonio</a>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">


        </div>

        <div class="col l6 s12 center">
            <h5 class="white-text">Connect With Us</h5>
            <ul>
                <li><a class="orange-text text-lighten-3 gh-link" href="https://github.com/skrantzz"
                        target="_blank">Sydney Krantz</a></li>
                <li><a class="orange-text text-lighten-3" href="https://github.com/thetntm" target="_blank">Michael
                        Becker</a></li>
                <li><a class="orange-text text-lighten-3" href="https://github.com/https://github.com/AmberOutman"
                        target="_blank">Amber Outman</li>
                <li><a class="orange-text text-lighten-3" href="https://github.com/ajackson89" target="_blank">Antonio
                        Jackson</a></li>
            </ul>
        </div>
    </div>
    </div>
</footer>