<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="main">
            <div class="col s8 offset-s6">
                <h2>About Us</h2>
                <p class="flow-text">This group project was built with the combined effort of the four
                    below:</p>
                <div class="collection">
                    <a href="https://github.com/thetntm" class="collection-item">Michael</a>
                    <a href="https://github.com/skrantzz" class="collection-item">Sydney</a>
                    <a href="https://github.com/AmberOutman" class="collection-item">Amber</a>
                    <a href="https://github.com/ajackson89" class="collection-item">Antonio</a>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">


        </div>
