


    </br></br></br>
    <h1 class="header center orange-text">Book of the Week</h1>
        <div class="card yellow lighten-4 comment-card">
            <div class="card-content current-book white-text">
                <span class="card-title center">{{current.title}}</span>
                <br><br>
                <div class="current-card-image card-image">
                    <img src={{current.coverArtURL}}>
                </div>
            </div>
     <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">First Name</label>
        </div>
      </div>
    </form>
  </div>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Comment</label>
        </div>
      </div>
    </form>
  </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Post</a>
            </div>
                </div>
            </div>
        </form>
    </div>




    <footer class="page-footer orange">
        <div class="container">
            <div class="row">


            </div>
