<nav>
    <div class="nav-wrapper">
        <p class="brand-logo">Quarantine Book Club</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.html">Home</a></li>
                <li><a href="discussion.html">Join Discussion</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <h5 class="header col s12 light">A virtual book club to keep us sane!</h5>
        </div>
        <h1 class="header center orange-text">Book of the Week</h1>
        <div class="card grey lighten-1">
            <div class="card-content white-text">
                <span class="card-title center">{{current.title}}</span>
                <br><br>
                <div class="card-image">
                    <img src={{current.coverArtURL}}>
                </div>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Join The
                    Discussion</a>
            </div>
            <br><br>
        </div>
    </div>
    <Br>
    <h2 class="center">Upcoming books</h2>
    <br><br>
    <!---------------- cards --------------->
    <div class="container">
        <div class="row">
            {{#each book_data}}
            <div class="col s12 m4">
                <div class="card">
                    <span class="card-title orange-text">{{this.dataValues.title}}</span>
                    <br><br>
                    <div class="card-image">
                        <img src={{this.dataValues.coverArtURL}}>
                    </div>
                    <div class="card-content">
                        <p>Book Image, title, info here.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title orange-text">Book Title</span>
                    </div>
                    <div class="card-content">
                        <p>Book Image, title, info here.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title orange-text">Book Title</span>
                    </div>
                    <div class="card-content">
                        <p>Book Image, title, info here.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">


            </div>

            <div class="col l6 s12 center">
                <h5 class="white-text">Connect With Us</h5>
                <ul>
                    <li><a class="orange-text text-lighten-3 gh-link" href="https://github.com/skrantzz"
                            target="_blank">Sydney Krantz</a></li>
                    <li><a class="orange-text text-lighten-3" href="https://github.com/thetntm" target="_blank">Michael
                            Becker</a></li>
                    <li><a class="orange-text text-lighten-3" href="https://github.com/https://github.com/AmberOutman"
                            target="_blank">Amber Outman</li>
                    <li><a class="orange-text text-lighten-3" href="https://github.com/ajackson89"
                            target="_blank">Antonio Jackson</a></li>
                </ul>
            </div>
        </div>
</div>
</footer>